body {
	width: 100%;
	height: 100%;
}

#draw_window {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	margin: -150px 0 0 -400px;
	transition: width 0.5s;
}

#system_clock > span {
	position: absolute;
	margin-left: 25px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 1.05em;
	top: 180px;
}

#plus_text {
	position: absolute;
	margin-left: -32px;
	margin-top: -30px;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 1.05em;
}

#add_watch {
	position: relative;
	float: right;
	top: 30%;
	width: 100px;
	height: 40px;
	margin-top: -30px;
}

#add_watch > span {
	position: absolute;
	margin-left: -32px;
	margin-top: 80px;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 1.05em;
}

#plus_icon {
	width: 55px;
	height: 50px;
	cursor: pointer;
}

#no_connect {
	visibility: hidden;
}

.showText {
	visibility: visible;
}


.clock {
	float: left;
	position: absolute;
	width: 150px;
	height: 150px;
	pointer-events: none;
}

.noselect {
	-webkit-touch-callout: none;	/* iOS Safari */
    -webkit-user-select: none;		/* Safari */
     -khtml-user-select: none;		/* Konqueror HTML */
       -moz-user-select: none;		/* Firefox */
        -ms-user-select: none;		/* Internet Explorer/Edge */
            user-select: none;		/* Non-prefixed version, currently
            pointer-events: none;                      supported by Chrome and Opera */
}

.new_Clock {
	/*position: relative;*/
	width: 300px;
	height: 300px;
	float: right;
}

.view {
	width: 400px;
	height: 350px;
}

.timezone_form {
	position: absolute;
	top: 180px;
}


