body {
	width: 100%;
	height: 100%;
}

#draw_window {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	/*border: 2px solid black;*/
	margin: -150px 0 0 -150px;
}


.clock {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
}

#clock_hour {
	transform: rotate(360deg);
}

#clock_sec {
	/*transform: rotate(180deg);*/
}

#clock_sec:active {
	transform: rotate(6deg);
	transition: transform 1s;
}

.view {
	width: 400px;
	height: 350px;
}
